html
{
    font-size: 10px;
}

body
{
    font-family: 'Titillium Web', 'Noto Sans JP', sans-serif;
    background: url(../img/background-image-pattern.png), rgb(45, 45, 45);
    background-size: 25% auto;
    padding: 5% 10%;
    animation: back-anime 7s infinite;
}

@keyframes back-anime
{
    0% { background-color: rgb(45, 45, 45); }
    25% { background-color: #d17844; }
    50% { background-color: rgb(45, 45, 45); }
    75% { background-color: #43b87f; }
    100% { background-color: rgb(45, 45, 45); }
}
@keyframes switch-anime
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

p, li, label
{
    font-size: 1.33vw;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

#h1title
{
    background: -moz-linear-gradient(-45deg, rgba(235, 235, 235, 0.5), transparent);
    background: -webkit-linear-gradient(-45deg, rgba(235, 235, 235, 0.5), transparent);
    background: linear-gradient(135deg, rgba(235, 235, 235, 0.5), transparent);
    border-left: 7px white solid;
}

h1
{
    font-size: 2.8vw;
    padding: 2% 5%;
    color: white;
    text-shadow: 2px 2px 2px rgba(85, 85, 85, 0.75);
    word-wrap: break-word;
}
h2
{
    font-size: 1.75vw;
    border-bottom: 2px darkorange dotted;
}
h2:before
{
    font-family: "Font Awesome 5 Free";
    padding-right: 1%;
    content: '\f101';
    font-weight: 900;
    color: darkorange;
}
h3
{
    font-size: 1.6vw;
    padding: 0% 2%;
    border-left: 5px mediumaquamarine solid;
    border-bottom: 1px mediumaquamarine solid;
    background: linear-gradient(90deg, rgba(102, 205, 171, 0.1), transparent);
}
a
{
    text-decoration: none;
    color: black;
    transition: ease 0.2s;
}
a:hover
{
    opacity: 0.5;
}

/*
    ####################
    #  Tab propiertes  #
    ####################
*/

.tab
{
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.25);
}
input[type="radio"]
{
    display: none;
}

#tab-area
{
    padding: 0% 2%;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5) inset;
    background-color: #6E777C;
    border-bottom: 5px #D7E6EF solid;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
#tab-area label
{
    padding: 1%;
    display: block;
    box-shadow: -1px -3px 5px -2px rgba(0, 0, 0, 0.5) inset;
    background-color: white;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    float: left;
    cursor: pointer;
    transition: ease 0.2s;
}
#tab-area label:hover
{
    background-color: rgb(200, 200, 200);
}

.page
{
    margin: 2% 5%;
    padding: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.5);
    opacity: 0;
    display: none;
}

#tab-bio:checked ~ #tab-content #bio
{
    display: block;
    animation: switch-anime ease 0.5s forwards;
}
#tab-bio:checked ~ #tab-area #t-bio-label
{
    background-color: #D7E6EF;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px 1px gray;
}
#tab-skills:checked ~ #tab-content #skills
{
    display: block;
    animation: switch-anime ease 0.5s forwards;
}
#tab-skills:checked ~ #tab-area #t-skills-label
{
    background-color: #D7E6EF;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px 1px gray;
}
#tab-hobbies:checked ~ #tab-content #hobbies
{
    display: block;
    animation: switch-anime ease 0.5s forwards;
}
#tab-hobbies:checked ~ #tab-area #t-hobbies-label
{
    background-color: #D7E6EF;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px 1px gray;
}
#tab-links:checked ~ #tab-content #links
{
    display: block;
    animation: switch-anime ease 0.5s forwards;
}
#tab-links:checked ~ #tab-area #t-links-label
{
    background-color: #D7E6EF;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px 1px gray;
}

#tab-content
{
    background-color: #D7E6EF;
    padding: 2%;
}

/*
    #################
    # Tab contents  #
    #################
*/

#bio
{
    justify-content: space-around;
    overflow: hidden;
}
#bio img
{
    width: 20%;
    border-radius: 10%;
    float: left;
}
#bio p
{
    margin: 0% 2.5%;
    padding: 0% 2.5%;
    max-width: 69%;
    border-left: 2px rgb(50, 50, 50) dotted;
    float: left;
}

#skills h3
{
    margin: 2% 5%;
}
#skills ul
{
    margin: 2% 5%;
}
#skills p
{
    margin: 2% 5%;
}

#links .link-content
{
    display: table;
    padding: 2%;
}
#links h3
{
    margin: 2% 0% 0% 0%;
}
#links p
{
    margin: 2.5% 0%;
    padding: 2.5% 3%;
    display: table-cell;
    width: 70%;
    border-left: 2px rgb(50, 50, 50) dotted;
    vertical-align: middle;
}
#links a
{
    padding: 2%;
    display: table-cell;
    width: 10%;
    min-width: 64px;
    vertical-align: middle;
}
#links img
{
    width: 100%;
}


/*
    #######################
    # For small devices   #
    #######################
*/

@media (max-width: 768px)
{
    h1
    {
        font-size: 3.2rem;
    }
    h2
    {
        font-size: 2.2rem;
    }
    h3
    {
        font-size: 1.8rem;
    }
    p, li, label
    {
        font-size: 1.6rem;
    }
    #bio
    {
        justify-content: space-around;
        overflow: hidden;
    }
    #bio img
    {
        width: 50%;
        margin: 5% 25%;
        border-radius: 10%;
    }
    #bio p
    {
        margin: 2.5% 2.5%;
        padding: 2.5%;
        max-width: 100%;
        border-top: 2px rgb(50, 50, 50) dotted;
        border-left: none;
    }

    #links .link-content
    {
        display: block;
    }
    #links p
    {
        display: block;
        margin: 2.5% 2%;
        padding: 2.5% 0%;
        width: 95%;
        border-top: 2px rgb(50, 50, 50) dotted;
        border-left: none;
    }
    #links a
    {
        margin: 0;
        text-align: center;
    }
    #links img
    {
        max-width: 64px;
    }
}